<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Histogram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label autoGrow="true" position="floating">Dataset</ion-label>
      <ion-textarea id="input_dataset"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Divisions</ion-label>
      <ion-textarea id="input_divisions"></ion-textarea>
    </ion-item>
    <br>
    <ion-button expand="full" (click)="graphHistogram()">GRAPH</ion-button>
  </div>
</ion-content>
